.navbar0 {
  background-color: #f6f5f5;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing:border-box;
  font-family:Roboto, sans-serif;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  box-shadow:0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  border-radius:2px;
  position:relative;
  width:100%;
  padding-left:0;
  z-index:2;
}

.navbar-right {
	float: right;
  margin-right: 100px;
}

.topnav {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #9E9E9E;
  overflow: hidden;
  background-color: #F6F5F5;
  ul {
    padding: 0;
    list-style-type: none;
    float: left;
  }
  ul.topnav-right {
    padding: 0;
    list-style-type: none;
    float: right;
  }
  li {
    float: left;
    a {
      display: inline-block;
      color: #000;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      transition: 0.3s;
      font-size: 17px;
      &:hover {
        // background-color: #555;
      }
    }
    &.icon {
      display: none;
    }
  }
}


/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width: 680px) {
  .topnav li {
    &:not(:first-child) {
      display: none;
    }
    &.icon {
      display: inline-block;
    }
  }
}

@media screen and (max-width: 680px) {
  .navbar1 {
		display: none;
  }
}

