<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link href="https://fonts.googleapis.com/css2?family=Sen&amp;display=swap" rel="stylesheet">
  </head>
  <body class="dark:text-white bg-white text-nord0 dark:bg-nord0" style="font-family: Sen, sans-serif">
    {{ content }}
  </body>
</html>
